.container{
    margin-bottom: 100px;
}
.bg-white{
    color: white;
}
.body{
    color: grey;
}


.product img{
    width: 300px;
}
.card-body{
    text-align: center;
}
span{
    color: orange;
}
.carouselExampleIndicators{
    color: orange;
}









.buy-now-btn{
background-color: black;
    color: white;
    padding: 9px 25px;
    border: none;
    border-radius: 5px;
    
}

   


